colorama==0.4.6
psutil==7.1.0
flash_attn==2.8.3
watchfiles==1.1.1
idna==3.17
platformdirs==4.9.6
spacy-legacy==3.0.12
markdown-it-py==4.2.0
opentelemetry-exporter-prometheus==0.62b1
TatSu==5.8.3
antlr4-python3-runtime==4.9.3
tensorboard-data-server==0.7.2
pydantic_core==2.46.4
mdurl==0.1.2
accelerate==1.13.0
nvidia-cuda-runtime-cu12==12.8.90
litellm==1.86.1
opentelemetry-sdk==1.41.1
fastuuid==0.14.0
triton==3.4.0
interegular==0.3.3
cbor2==6.1.1
click==8.4.0
frozendict==2.4.7
multiprocess==0.70.19
jericho==3.3.1
prompt_toolkit==3.0.52
aiosignal==1.4.0
opentelemetry-semantic-conventions==0.62b1
google-auth==2.53.0
wasabi==1.1.3
typing_extensions==4.15.0
torchaudio==2.8.0
gymnasium==0.29.1
fastapi-cloud-cli==0.17.1
dill==0.4.1
mistral_common==1.11.2
psutil==7.2.2
pydantic-settings==2.14.1
torchvision==0.23.0
googleapis-common-protos==1.75.0
msgpack==1.1.2
setproctitle==1.3.7
llguidance==0.7.30
rich==15.0.0
wandb==0.26.1
spacy==3.8.14
httptools==0.7.1
orjson==3.11.9
hf_transfer==0.1.9
hashids==1.3.1
distro==1.9.0
soxr==1.1.0
depyf==0.19.0
nvidia-nvtx-cu12==12.8.90
urllib3==2.7.0
dnspython==2.8.0
protobuf==6.33.6
cloudpickle==3.1.2
rpds-py==0.30.0
PyYAML==6.0.3
mpmath==1.3.0
pfzy==0.3.4
xformers==0.0.32.post1
safetensors==0.7.0
referencing==0.37.0
absl-py==2.4.0
jiter==0.14.0
preshed==3.0.13
xgrammar==0.1.25
distlib==0.4.0
uvicorn==0.46.0
torchdata==0.11.0
opencensus==0.11.4
smart_open==7.6.1
wheel==0.46.3
stable_baselines3==2.6.0
pycountry==26.2.16
termcolor==3.3.0
cloudpathlib==0.24.0
annotated-doc==0.0.4
wrapt==2.1.2
cffi==2.0.0
httpx==0.28.1
httpcore==1.0.9
python-dotenv==1.2.2
py-cpuinfo==9.0.0
cupy-cuda12x==14.0.1
annotated-types==0.7.0
openai==2.37.0
filelock==3.29.0
mementos==1.3.1
nvidia-cusparse-cu12==12.5.8.93
scipy==1.17.1
vllm==0.11.0
Jinja2==3.1.6
opencv-python-headless==4.13.0.92
qwen-vl-utils==0.0.14
typing-inspection==0.4.2
pyasn1==0.6.3
tensordict==0.10.0
gguf==0.19.0
pyarrow==24.0.0
fast_downward_textworld==20.6.4
yarl==1.23.0
datasets==4.8.5
fsspec==2026.4.0
transformers==4.57.3
numba==0.61.2
gitdb==4.0.12
python-multipart==0.0.29
MarkupSafe==3.0.3
pycparser==3.0
Markdown==3.10.2
pybase64==1.4.3
cryptography==48.0.0
anyio==4.13.0
attrs==26.1.0
ray==2.50.0
more-itertools==11.0.2
nvidia-cublas-cu12==12.8.4.1
smmap==5.0.3
nvidia-curand-cu12==10.3.9.90
prometheus-fastapi-instrumentator==7.1.0
Farama-Notifications==0.0.6
pip==26.0.1
tensorboard==2.20.0
tiktoken==0.12.0
sentencepiece==0.2.1
nvidia-nvjitlink-cu12==12.8.93
sentry-sdk==2.60.0
partial-json-parser==0.2.1.1.post7
starlette==0.52.1
Werkzeug==3.1.8
lm-format-enforcer==0.11.3
pylatexenc==2.10
tqdm==4.67.3
fastapi-cli==0.0.24
virtualenv==21.3.1
tokenizers==0.22.2
decord==0.6.0
nvidia-nccl-cu12==2.27.3
nvidia-cuda-nvrtc-cu12==12.8.93
hydra-core==1.3.2
cycler==0.12.1
textworld==1.7.0
pandas==3.0.3
regex==2026.5.9
opentelemetry-proto==1.41.1
jsonschema-specifications==2025.9.1
requests==2.34.2
rich-toolkit==0.19.9
jsonschema==4.26.0
msgspec==0.21.1
diskcache==5.6.3
codetiming==1.4.0
prometheus_client==0.25.0
opentelemetry-api==1.41.1
GitPython==3.1.50
pybind11==3.0.4
wcwidth==0.7.0
weasel==1.0.0
blis==1.3.3
blake3==1.0.8
sniffio==1.3.1
nvidia-cusparselt-cu12==0.7.1
srsly==2.5.3
cuda-pathfinder==1.5.4
aiohttp-cors==0.8.1
cachetools==7.1.2
aiohappyeyeballs==2.6.1
lark==1.2.2
python-discovery==1.3.1
kiwisolver==1.5.0
contourpy==1.3.3
aiohttp==3.13.5
opencensus-context==0.1.3
peft==0.19.1
propcache==0.5.2
rignore==0.7.6
llvmlite==0.44.0
nvidia-cuda-cupti-cu12==12.8.90
compressed-tensors==0.11.0
pyzmq==27.1.0
soundfile==0.13.1
websockets==16.0
spacy-loggers==1.0.5
openai-harmony==0.0.8
py-spy==0.4.2
multidict==6.7.1
thinc==8.3.13
google-api-core==2.30.3
pyasn1_modules==0.4.2
einops==0.8.2
python-json-logger==4.1.0
certifi==2026.5.20
alfworld==0.4.2
python-dateutil==2.9.0.post0
astor==0.8.1
nvidia-cusolver-cu12==11.7.3.90
pyparsing==3.3.2
catalogue==2.0.10
pydantic==2.13.4
matplotlib==3.10.9
pyvers==0.1.0
zipp==3.23.1
murmurhash==1.0.15
av==17.0.1
setuptools==79.0.1
pillow==12.2.0
fonttools==4.63.0
ninja==1.13.0
huggingface_hub==0.36.2
nvidia-cudnn-cu12==9.10.2.21
xxhash==3.7.0
pydantic-extra-types==2.11.1
importlib_metadata==8.7.1
six==1.17.0
outlines_core==0.2.11
packaging==26.2
hf-xet==1.5.0
charset-normalizer==3.4.7
h11==0.16.0
modelscope==1.37.1
nvidia-cufile-cu12==1.13.1.3
email-validator==2.3.0
inquirerpy==0.3.4
cymem==2.0.13
verl==0.3.1.dev0
grpcio==1.80.0
proto-plus==1.28.0
fastapi==0.136.1
torch==2.8.0
numpy==2.2.6
Pygments==2.20.0
uvloop==0.22.1
typer==0.25.1
sympy==1.14.0
fastar==0.11.0
nvidia-cufft-cu12==11.3.3.83
frozenlist==1.8.0
confection==1.3.3
omegaconf==2.3.0
networkx==3.6.1
colorful==0.5.8
shellingham==1.5.4
verl==0.3.1.dev0
wheel==0.45.1
tomli==2.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
jaraco.context==5.3.0
importlib_metadata==8.0.0
typing_extensions==4.12.2
autocommand==2.2.2
packaging==24.2
jaraco.functools==4.0.1
backports.tarfile==1.2.0
platformdirs==4.2.2
inflect==7.3.1
jaraco.collections==5.1.0
typeguard==4.3.0
zipp==3.19.2
